.form-container{
  position: absolute;
  left: 50%;
  top:120px;
  transform: translateX(-50%);
}
.form-header{
  color: rgb(26 87 130);
}
label{
  padding: 10px 0px;
  display: block;
  color : rgb(16 69 107);
  font-weight: 500;
}
input{
  text-align: center;
  border:1px solid lightslategray;
  padding: 10px;
  width: 100%;
  margin: 10px 0px;
  border-radius: 4px;
}
input:focus{
  outline-color: skyblue
}
button{
    background-color: rgb(173, 219, 173);
    color: green;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    position: relative;
    left: 50%;
    top: 30px;
    transform: translateX(-40%);
    border: none;
    border-radius: 4px;
}
